body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}

.form-box {
    width: 300px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
}
